$content-bg: #232835;

html,body {
  height: 100%;
}

body {
  background-color: $content-bg;
}

.clickable {
  cursor: pointer;
}

.default-cursor {
  cursor: auto;
}

.clear {
  clear: both;
}

.hidden {
  display: none !important;
}

.allow-overflow {
  overflow: visible;
}

.no-overflow {
  overflow: hidden;
}

.no-overflow-horizontal {
  overflow-x: hidden;
}

.fade-in-on-hover {
  opacity: 0.2;
  &:hover {
    opacity: 0.6;
  }
}


h1, h2, h3, h4, h5 {
  font-weight: normal;
}

.text-healthy {
  color: $green;
}

.text-danger {
  color: $red;
}

.text-gray {
  color: $gray;
}

.∑{
  color: $yellow;
}