$content-bg: #232937;

html,body {
  height: 100%;
}

body {
  background-color: $content-bg;
}

.clickable {
  cursor: pointer;
}

.default-cursor {
  cursor: auto;
}

.clear {
  clear: both;
}

.hidden {
  display: none !important;
}

.allow-overflow {
  overflow: visible;
}

.no-overflow {
  overflow: hidden;
}

.no-overflow-horizontal {
  overflow-x: hidden;
}

.fade-in-on-hover {
  opacity: 0.2;
  &:hover {
    opacity: 0.6;
  }
}


h1, h2, h3, h4, h5 {
  font-weight: normal;
}

.text-healthy {
  color: $green;
}

.text-danger {
  color: $red;
}

.text-gray {
  color: $gray;
}

.text-warning {
  color: $yellow;
}

.btn-primary {
    background-color: $purple;
    border-color: $purple;
    color: #FFF;
    &:active, &:hover, &:focus {
      background-color: darken($purple, 5%);
      border-color: darken($purple, 5%);
    }
}

.btn-primary.active[disabled], .btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
  background-color: lighten($purple, 10%);
  border-color: lighten($purple, 10%);
}

.badge-white {
  line-height: 7px;
}

.form-control {
    border-radius: 5px;
    &:focus, &:active, &:visited{
        border-color: $purple !important;
    }
}