body {
	margin: 0;
	font-family:"open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: rgb(237, 239, 245);
}	

html, body{
	height:100%
}

ul {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

h1, h2, h3, h4, h5, p {
	margin: 0;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.text-center {
	text-align: center;
}

.breadcrumb {
	padding: 10px 0;
}

.btn-primary {
    background-color: #0e9aef;
    border-color: #0e9aef;
    color: #FFF;
    &:active, &:hover, &:focus {
    	background-color: darken(#0e9aef, 5%);
    	border-color: darken(#0e9aef, 5%);
    }
}

.btn-primary.active[disabled], .btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
	background-color: lighten(#0e9aef, 10%);
	border-color: lighten(#0e9aef, 10%);
}

.mail-subject {
	min-width: 150px;
}

.option-group {
	margin-top: 10px;
	li {
		margin-left: 5px;
		&:first-child {
			margin-left: 0;
		}
	}
	.si {
		font-size: 20px;
		float: left;
		margin-right: 5px;
	}
	.btn {
		margin: 2px;
	}
}

.ibox-title {
    padding: 6px 15px 7px;
}

.basic-information {
	margin-top: 10px;
	.dl-horizontal {
		dt {
			width: 120px;
			padding: 2px;
		}
		dd {
			margin-left: 140px;
			padding: 2px;
		}
	}
}

.details-tab {
	margin: 10px -20px;
	.md-content {
		.md-tabs {
			border: none;
		}
	}
}

.fixed-header {
	.header {
		position: fixed;
		width: 100%;
	    z-index: 1000;		
	}
	.main-ui-view {
	}
}



.nodata {
	position: absolute;
	top: 40px;
}