$purple:		#9056df;
$white: #eeeeee;
$gray: #82848f;
$green: #34ca7d;
$red: #f74863;
$yellow: #fac543;
$blue: #3188ff;
$pink: #f6478f;


$content-bg: #232835;


$sidebar-bg: #1c202b;
$sidebar-header-ip-color: #a364e6;
$sidebar-header-image-bg: #d2d8df;

$sidebar-menu-color:  #a8a8a8;
$sidebar-menu-active-color: #905ae4;
$sidebar-menu-active-bg: lighten($sidebar-bg, 5%);
$sidebar-menu-active-border: #793ac6;
$sidebar-width: 200px;
