<div id="node" class="animated fadeInRight">
    <h3 class="content-title">
        {{jobs.length}} Nodes
    </h3>
   <div class="row">
        <div class="job-filter m-b col-sm-12">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" ui-sref-active="selected" class="btn btn-default" ui-sref="navbar.node({query: 'all'})">All <span class="badge badge-white selected">{{jobCount}}</span></button>
                <button type="button" class="btn btn-default" ui-sref-active="selected"  ui-sref="navbar.node({query: 'healthy'})"><i class="fa fa-circle text-healthy"></i>Healthy<span class="badge badge-white">{{healthyJobCount}}</span></button>
                <button type="button" class="btn btn-default" ui-sref-active="selected" ui-sref="navbar.node({query: 'unhealthy'})"><i class="fa fa-circle text-danger"></i>Unhealty<span class="badge badge-white">{{unhealthyJobCount}}</span></button>
            </div>
            <form ng-submit="search()">
                <div class="job-search">
                    <span><i class="fa fa-search"></i></span>
                    <input type="text" class="form-control" placeholder="Filter" ng-model="search_key" >
                </div>          
            </form> 
            <div class="clearfix"></div>            
        </div>
        <div class="job-list col-sm-12">
            <table class="table table-striped" at-table at-list="nodes" at-config="config">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td at-implicit at-sortable at-attribute="hostname" at-initial-sorting="asc"></td>
                        <td at-implicit at-sortable at-attribute="host" at-initial-sorting="asc"></td>
                        <td at-title="health" at-sortable ng-switch="item.health">
                            <div ng-switch-when="Healthy">
                                <span class="text-healthy">Healthy</span>
                            </div>      
                            <div ng-switch-when="Unhealthy">
                                <span class="text-danger">Unhealthy</span>
                            </div>                                                      
                        </td>
                        <td at-title="cpu" at-sortable class="node-resource">
                            <div class="progress">
                                <div style="width: {{item.cpu_alloc/item.offered_resources.cpus.scalar.value*100}}%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="{{item.cpu_alloc/item.offered_resources.cpus.scalar.value*100}}" role="progressbar" class="progress-bar progress-bar-success">
                                </div>
                            </div> 
                            <span>{{item.cpu_alloc/item.offered_resources.cpus.scalar.value*100}}%</span> 
                        </td>
                        <td at-title="mem" at-sortable class="node-resource">
                            <div class="progress">
                                <div style="width: {{item.memory_alloc/item.offered_resources.mem.scalar.value*100}}%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="{{item.memory_alloc/item.offered_resources.mem.scalar.value*100}}" role="progressbar" class="progress-bar progress-bar-success">
                                </div>
                            </div>  
                            <span>{{item.memory_alloc/item.offered_resources.mem.scalar.value*100}}%</span>
                        </td>    
                        <td at-title="role" at-sortable class="node-role">
                            <span class="label" ng-if="item.is_master">Master</span>
                            <span class="label" ng-if="item.is_slave">Slave</span>
                        </td> 
                </tbody>
            </table>            
        </div>
    </div>
</div>