<div id="overview" class="animated fadeInRight">
	<h3 class="content-title">
		Dashboard
	</h3>
	<div class="row">
	<div class="box col-md-6 col-sm-12">
		<div class="box-title">
			<h2>System Status <span class="text-healthy">Healthy</span></h2>
		</div>
		<div class="box-content" ng-controller="heathyCtrl">
			<div class="row">
				<div class="col-sm-8 allocation-chart chart">
					<h5 class="chart-label">CPU Allocation</h5>
					<div class="chart-stat">83<small>%</small></div>
			
					<div class="chart-svg">
						<p class="chart-title"><span class="legend">-</span>CPU Allocation (%)</p>
						<div class="chart-yavis">
							<p>100%</p>
							<p>50%</p>
							<p>0%</p>
						</div>
						<line-chart data="cpu.data" options="cpu.options" class="chart-graph">
							<div class="chart-bg">
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
							</div>
						</line-chart>	
					</div>
				</div>
				<div class="col-sm-4 allocation-chart small chart">
					<div class="chart-label">Disk Allocation</div>
					<div class="chart-stat">83<small>%</small></div>	
					
					<div class="chart-svg">
						<line-chart data="disk.data" options="disk.options" class="chart-graph">
							<div class="chart-bg">
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
							</div>
						</line-chart>	
					</div>									
				</div>
				<div class="col-sm-4 allocation-chart small chart">
					<div class="chart-label">Memory Allocation</div>
					<div class="chart-stat">83<small>%</small></div>	
					
					<div class="chart-svg">
						<line-chart data="mem.data" options="mem.options" class="chart-graph">
							<div class="chart-bg">
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
							</div>
						</line-chart>	
					</div>									
				</div>				
			</div>
		</div>
	</div>		
	<div class="box col-md-6 col-sm-12">
		<div class="box-content job-box" ng-controller="jobCtrl">
			<div class="row">
				<div class="job-title">
				<div class="col-sm-6 job-stat">
					<div class="row">
						<pie-chart data="job.data" options="job.options" class="job-piechart col-sm-4"></pie-chart>
						<span class="job-count col-sm-4">28</span>
						<span class="job-count-label col-sm-4">Total Jobs</span>	
					</div>
				</div>
				<div class="col-sm-6">
					<div class="row">
					<div class="job-kind col-sm-4">
						<div class="job-kind-num">
							21
						</div>
						<div class="job-kind-label text-healthy">
							Running
						</div>
					</div>
					<div class="job-kind col-sm-4">
						<div class="job-kind-num">
							7
						</div>
						<div class="job-kind-label text-lost">
							Finished
						</div>
					</div>	
					<div class="job-kind col-sm-4">
						<div class="job-kind-num">
							1
						</div>
						<div class="job-kind-label text-danger">
							Failed
						</div>
					</div>	
					</div>
				</div>
				</div>		
				<div class="job-divider col-sm-12">
					RECENT ACTIVE JOBS
				</div>	
				<div class="clearfix"></div>
				<div class="job-items">
					<div class="col-sm-6 job-item">
						<div class="job-item-image">
							<img src="" alt="">
						</div>
						<div class="job-item-title">
							MPI
						</div>
						<div class="job-item-status text-healthy">
							<span class="fa fa-circle"></span>
							Running (8 Tasks)
						</div>
					</div>
					<div class="col-sm-6 job-item">
						<div class="job-item-image">
							<img src="" alt="">
						</div>
						<div class="job-item-title">
							MPI
						</div>
						<div class="job-item-status text-danger">
							<span class="fa fa-circle"></span>
							Running (8 Tasks)
						</div>
					</div>
					<div class="col-sm-6 job-item">
						<div class="job-item-image">
							<img src="" alt="">
						</div>
						<div class="job-item-title">
							MPI
						</div>
						<div class="job-item-status text-healthy">
							<span class="fa fa-circle"></span>
							Running (8 Tasks)
						</div>
					</div>
					<div class="col-sm-6 job-item">
						<div class="job-item-image">
							<img src="" alt="">
						</div>
						<div class="job-item-title">
							MPI
						</div>
						<div class="job-item-status text-healthy">
							<span class="fa fa-circle"></span>
							Running (8 Tasks)
						</div>
					</div>
					<div class="col-sm-6 job-item">
						<div class="job-item-image">
							<img src="" alt="">
						</div>
						<div class="job-item-title">
							MPI
						</div>
						<div class="job-item-status text-healthy">
							<span class="fa fa-circle"></span>
							Running (8 Tasks)
						</div>
					</div>
					<div class="col-sm-6 job-item">
						<div class="job-item-image">
							<img src="" alt="">
						</div>
						<div class="job-item-title">
							MPI
						</div>
						<div class="job-item-status text-healthy">
							<span class="fa fa-circle"></span>
							Running (8 Tasks)
						</div>
					</div>				
				</div>				
			</div>
		</div>
	</div>		
	</div>
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<div class="box">
				<div class="box-title">
					<h2>Recent Tasks</h2>
				</div>
				<div class="box-content" ng-controller="tableCtrl">
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
							<tr>
								<th>Name</th>
								<th>Image</th>
								<th>Slave</th>
								<th>Cpus</th>
								<th>Memory</th>
							</tr>
							</thead>
							<tbody>
							<tr class="read" ng-repeat="task in tasks" ng-click="rowClick(task.id)">
								<td class="mail-subject">{{task.name}}</td>
								<td>{{task.docker_image}}</td>
								<td>{{task.slave_hostname}}</td>
								<td>{{task.cpus}}</td>
								<td>{{task.mem}} MiB</td>
							</tr>
							</tbody>
						</table>
					</div>			
				</div>
			</div>		
		</div>
		<div class="col-md-6 col-sm-12">
			<div class="box">
				<div class="box-title">
					<h2>Cluster</h2>
				</div>
				<div class="box-content cluster-overview" ng-controller="clusterCtrl">
					<div>
											
					</div>
					<div class="cluster-master">
						<h3>Master <span class="fa fa-circle text-info"></span> <span class="addon">Running ({{master_running}})</span>
						<span class="fa fa-circle text-danger"></span> <span class="addon">Lost ({{master_lost}})</span>	</h3>
						<div class="row node-list">
							<div class="col-sm-4 node" ng-repeat="master in masters">
							<ng-switch on="master.state">
								<a href="#" ng-switch-when="RUNNING">
									<img src="images/node-running.png" alt="{{master.hostname}}" ></a>
								<a href="#" ng-switch-when="LOST"><img src="images/node-lost.png" alt="{{master.hostname}}" ></a>								
							</ng-switch>
							</div>
						</div>
					</div>
					<div class="cluster-slave">
						<h3>Slave <span class="fa fa-circle text-info"></span> <span class="addon">Running ({{slave_running}})</span>
						<span class="fa fa-circle text-danger"></span> <span class="addon">Lost ({{slave_lost}})</span>	</h3>
						<div class="row node-list">
							<div class="col-sm-3 node" ng-repeat="slave in slaves">
							<ng-switch on="slave.state">
								<a href="#" ng-switch-when="RUNNING">
									<img src="images/node-running.png" alt="{{slave.hostname}}" ></a>
								<a href="#" ng-switch-when="LOST"><img src="images/node-lost.png" alt="{{slave.hostname}}" ></a>								
							</ng-switch>
							</div>
						</div>
					</div>					
				</div>
			</div>		
		</div>		
	</div>
</div>
