<div id="overview" class="animated fadeInRight">
	<h3 class="content-title">
		Dashboard
	</h3>
	<div class="row">
	<div class="box col-md-6 col-sm-12">
		<div class="box-title">
			<h2>System Status <span class="text-healthy">Healthy</span></h2>
		</div>
		<div class="box-content" ng-controller="heathyCtrl">
			<div class="row">
				<div class="col-sm-8 allocation-chart chart purple">
					<h5 class="chart-label">CPU Allocation</h5>
					<div class="chart-stat">83<small>%</small></div>
			
					<div class="chart-svg">
						<p class="chart-title"><span class="legend">-</span>CPU Allocation (%)</p>
						<div class="chart-yavis">
							<p>100%</p>
							<p>50%</p>
							<p>0%</p>
						</div>
						<line-chart data="cpu.data" options="cpu.options" class="chart-graph">
							<div class="chart-bg">
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
							</div>
						</line-chart>	
					</div>
				</div>
				<div class="col-sm-4 allocation-chart small chart">
					<div class="chart-label">Disk Allocation</div>
					<div class="chart-stat">83<small>%</small></div>	
					
					<div class="chart-svg">
						<line-chart data="disk.data" options="disk.options" class="chart-graph">
							<div class="chart-bg">
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
							</div>
						</line-chart>	
					</div>									
				</div>
				<div class="col-sm-4 allocation-chart small chart">
					<div class="chart-label">Memory Allocation</div>
					<div class="chart-stat">83<small>%</small></div>	
					
					<div class="chart-svg">
						<line-chart data="mem.data" options="mem.options" class="chart-graph">
							<div class="chart-bg">
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
							</div>
						</line-chart>	
					</div>									
				</div>				
			</div>
		</div>
	</div>		
	<div class="box col-md-6 col-sm-12">
		<div class="box-content job-box" ng-controller="jobCtrl">
			<div class="row">
				<div class="job-title">
				<div class="col-sm-6 job-stat">
					<div class="row">
						<pie-chart data="job.data" options="job.options" class="job-piechart col-sm-4"></pie-chart>
						<span class="job-count col-sm-4">28</span>
						<span class="job-count-label col-sm-4">Total Jobs</span>	
					</div>
				</div>
				<div class="col-sm-6">
					<div class="row">
					<div class="job-kind col-sm-4">
						<div class="job-kind-num">
							21
						</div>
						<div class="job-kind-label text-healthy">
							Running
						</div>
					</div>
					<div class="job-kind col-sm-4">
						<div class="job-kind-num">
							7
						</div>
						<div class="job-kind-label text-lost">
							Finished
						</div>
					</div>	
					<div class="job-kind col-sm-4">
						<div class="job-kind-num">
							1
						</div>
						<div class="job-kind-label text-danger">
							Failed
						</div>
					</div>	
					</div>
				</div>
				</div>		
				<div class="job-divider col-sm-12">
					RECENT ACTIVE JOBS
				</div>	
				<div class="clearfix"></div>
				<div class="job-items">
					<div class="col-sm-6 job-item">
						<div class="job-item-image">
							<img src="" alt="">
						</div>
						<div class="job-item-title">
							MPI
						</div>
						<div class="job-item-status text-healthy">
							<span class="fa fa-circle"></span>
							Running (8 Tasks)
						</div>
					</div>
					<div class="col-sm-6 job-item">
						<div class="job-item-image">
							<img src="" alt="">
						</div>
						<div class="job-item-title">
							MPI
						</div>
						<div class="job-item-status text-danger">
							<span class="fa fa-circle"></span>
							Running (8 Tasks)
						</div>
					</div>
					<div class="col-sm-6 job-item">
						<div class="job-item-image">
							<img src="" alt="">
						</div>
						<div class="job-item-title">
							MPI
						</div>
						<div class="job-item-status text-healthy">
							<span class="fa fa-circle"></span>
							Running (8 Tasks)
						</div>
					</div>
					<div class="col-sm-6 job-item">
						<div class="job-item-image">
							<img src="" alt="">
						</div>
						<div class="job-item-title">
							MPI
						</div>
						<div class="job-item-status text-healthy">
							<span class="fa fa-circle"></span>
							Running (8 Tasks)
						</div>
					</div>
					<div class="col-sm-6 job-item">
						<div class="job-item-image">
							<img src="" alt="">
						</div>
						<div class="job-item-title">
							MPI
						</div>
						<div class="job-item-status text-healthy">
							<span class="fa fa-circle"></span>
							Running (8 Tasks)
						</div>
					</div>
					<div class="col-sm-6 job-item">
						<div class="job-item-image">
							<img src="" alt="">
						</div>
						<div class="job-item-title">
							MPI
						</div>
						<div class="job-item-status text-healthy">
							<span class="fa fa-circle"></span>
							Running (8 Tasks)
						</div>
					</div>				
				</div>				
			</div>
		</div>
	</div>	
	<div class="box col-md-4 col-sm-12">
		<div class="box-content task-overview-box" ng-controller="taskCtrl">
			<div class="task-overview-svg">
				<pie-chart data="overview.data" options="overview.options"></pie-chart>
				<div class="task-overview-stat">
					402
					<small>Total Tasks</small>
				</div>				
			</div>
			<div class="task-overview-addon">
				<div class="task-overview-item col-sm-6">263<small class="text-healthy">Running Tasks</small></div>
				<div class="task-overview-item col-sm-6">139<small class="text-warning">Waiting Tasks</small></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>	
	<div class="box col-md-4 col-sm-12">
		<div class="box-content task-waittime-box" ng-controller="taskCtrl">
			<div class="task-waittime-svg">
				<div class="col-sm-8 waittime-chart chart middle yellow">
					<div class="chart-stat">23.6<small>ms</small></div>
					<h5 class="chart-label text-warning">Task Wait Time</h5>
			
					<div class="chart-svg">

						<div class="chart-yavis">
							<p>100%</p>
							<p>50%</p>
							<p>0%</p>
						</div>
						<line-chart data="waitTime.data" options="waitTime.options" class="chart-graph">
							<div class="chart-bg">
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
							</div>
						</line-chart>	
					</div>
					<p class="chart-title"><span class="legend">-</span>Task Wait Time Per Minite (ms)</p>					
				</div>			
			</div>
			<div class="clearfix"></div>
		</div>
	</div>		
	<div class="box col-md-4 col-sm-12">
		<div class="box-content task-waittime-box" ng-controller="taskCtrl">
			<div class="task-waittime-svg">
				<div class="col-sm-8 waittime-chart chart middle red">
					<div class="chart-stat">12<small>%</small></div>
					<h5 class="chart-label text-danger">Task Failure Rate</h5>
			
					<div class="chart-svg">

						<div class="chart-yavis">
							<p>100%</p>
							<p>50%</p>
							<p>0%</p>
						</div>
						<line-chart data="failRate.data" options="failRate.options" class="chart-graph">
							<div class="chart-bg">
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
								<li class="chart-bg-grid"></li>
							</div>
						</line-chart>	
					</div>
					<p class="chart-title"><span class="legend">-</span>Failure Rate Per Minite (%)</p>					
				</div>			
			</div>
			<div class="clearfix"></div>
		</div>
	</div>				
</div>
</div>
