<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12 animated fadeInRight">
			<div id="backTask">
				<a id="backUrl" href="/app/task">
					<span class="si-left-arrow"></span>Tasks
				</a>
			</div>
			<div class="ibox" ng-controller="mesCtrl">
				<div class="ibox-title">
					<h2>{{task.name}}</h2>
				</div>
				<div class="ibox-content">
					<h3>Basic Information</h3>
					<div class="row basic-information">
						<div class="col-sm-4">
							<dl class="dl-horizontal">
								<dt>ID</dt>
								<dd ng-bind="task.id"></dd>
								<dt>Image</dt>
								<dd ng-bind="task.docker_image"></dd>
								<dt>Cpus</dt>
								<dd ng-bind="task.cpus"></dd>
								<dt>Node</dt>
								<dd ng-bind="task.slave_hostname"></dd>
							</dl>
						</div>
						<div class="col-sm-4">
							<dl class="dl-horizontal">
								<dt>Status</dt>
								<dd ng-bind="task.status"><span class="label label-{{task.label_class}}"></span></dd>
								<dt>Create time</dt>
								<dd>{{task.create_time/1000000 | relativeDate}}</dd>
								<dt>Mem</dt>
								<dd ng-bind="task.mem"></dd>
								<dt>Ports</dt>
								<dd>
									<ul>
										<li ng-repeat="port in task.port_mappings">
											<a ng-href="http://{{task.slave_host}}:{{port.host_port}}" target="_blank">{{port.host_port}}</a>
										</li>
									</ul>
								</dd>
							</dl>
						</div>						
					</div>
					<h3>Options</h3>
					<div class="option-group">
						<button class="btn btn-primary"><span class="si si-exapnd2"></span>Scale</button>
						<button class="btn btn-primary"><span class="si si-plus"></span>Duplicate</button>
						<button class="btn btn-default" ng-click="kill(task)"><span class="si si-close-circle"></span>Kill</button>
						<button class="btn btn-danger" ng-click="delete(task)"><span class="si si-trash"></span>Delete</button>
						<button class="btn btn-default" ng-click="openLogModal(task)"><span class="si si-file"></span>Show Output</button>
					</div>					
				<div ng-cloak="" class="details-tab">
				  <md-content>
					<md-tabs md-dynamic-height="" md-border-bottom="">
					  <md-tab label="Monitor">
						<md-content class="md-padding">
							<div class="row tabContent">
								<div class="col-sm-12">
									<div ng-controller="cpuCtrl">
									<h2>CPU</h2>
									<div ng-if="nodata" class="nodata">
										Task is not running now, no  data to show.
									</div>
									<canvas id="cpu" class="chart chart-line" chart-data="data" chart-options="options" chart-labels="labels" chart-legend="true" chart-series="series"
									  height="60">
									</canvas>
									</div>
									<div ng-controller="memCtrl">
									<h2>MEM</h2>
									<div ng-if="nodata" class="nodata">
										Task is not running now, no  data to show.
									</div>	
									<canvas id="mem" class="chart chart-line" chart-data="data"
									  chart-labels="labels" chart-legend="true" chart-options="options" chart-series="series"
									  height="60">
									</canvas> 
									</div>
								</div>
							</div>
						</md-content>
					  </md-tab>
					  <md-tab label="Docker Configuration">
						<md-content class="md-padding">
						  <pre>
<code class="hljs json">{{task.docker_json}}</code>
						  </pre>
						</md-content>
					  </md-tab>
					</md-tabs>
				  </md-content>
				</div>
				<!--
				Copyright 2016 Google Inc. All Rights Reserved. 
				Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
				-->					
				</div>
			</div>
		</div>
	</div>
</div>
