<a back-button class="btn-back"><i class="fa fa-chevron-left"></i>Back</a>
<div id="job" ng-controller="JobDetailController" class="animated fadeIn">
	<h3 class="content-title">
		<div class="job-item-image">
			<img src="" alt="">
		</div>
		{{job.name}}
		<div class="addon">
			<span class="text-healthy" ng-if="job.health == 'Healthy'">Healthy</span>
			<span class="text-danger" ng-if="job.health == 'Unealthy'">Unhealthy</span>
			<span class="text-gray">{{job.total_task_len}} tasks total</span>
		</div>
	</h3>
	<div class="job-resource">
		<div class="resource-item">
			<div class="dcci dcci-cpu resource-icon"></div>
			<div class="resource-detail">
				<div class="resource-stat">{{job.used_resource.cpus.scalar.value}}</div>
				<div class="resource-name text-purple">CPU</div>
			</div>
		</div>
		<div class="resource-item">
			<div class="dcci dcci-mem resource-icon"></div>
			<div class="resource-detail">
				<div class="resource-stat">{{job.used_resource.mem.scalar.value}} MB</div>
				<div class="resource-name text-pink">MEMORY</div>
			</div>
		</div>
		<div class="resource-item">
			<div class="dcci dcci-disk resource-icon"></div>
			<div class="resource-detail">
				<div class="resource-stat">{{job.used_resource.disk.scalar.value}} MB</div>
				<div class="resource-name text-blue">DISK</div>
			</div>				
		</div>				     
	</div>
	<div class="clearfix"></div>
	
	<uib-tabset class="job-tab dcc-tab">
    	<uib-tab index="0" heading="Tasks">
			<div class="row">
				<div class="task-list dcc-list col-sm-12">
					<table class="table table-striped" at-table at-list="job.task_instance" at-config="config">
						<thead>
						</thead>
						<tbody>
							<tr ng-click="rowClick(item.id)">
						    	<td at-implicit at-sortable at-attribute="id" width="280" at-initial-sorting="asc"><span class="badge badge-{{task.type_color}}">{{task.type}}</span></td>
						    	<td at-title="cpu" at-sortable>{{item.cpus|number:2}}</td>
						    	<td at-implicit at-title="mem" at-sortable at-attribute="mem"></td>
						    	<td at-implicit at-title="node" at-sortable at-attribute="slave_hostname"></td>
						    	<td at-title="createtime" at-sortable>{{item.create_time/1000000 | relativeDate}}</td>
						    	<td at-title="status" at-sortable>
							    	<span class="label label-{{item.state | taskStatusLabel}}">{{item.state | taskStatus}}</span>
			                    </td>
						    </tr>
						</tbody>
					</table>			
				</div>				
			</div>
    	</uib-tab>
    	<uib-tab index="1" heading="Detail">
			<div class="row basic-information">
				<div class="col-sm-12">
					<dl class="dl-horizontal">
						<dt>ID</dt>
						<dd ng-bind="job.id"></dd>
						<dt>Name</dt>
						<dd ng-bind="job.name"></dd>
						<dt>Image</dt>
						<dd ng-bind="job.image"></dd>
						<dt>Context Directory</dt>
						<dd ng-bind="job.context_dir"></dd>
						<dt>Create Time</dt>
						<dd>{{job.create_time/1000000 | relativeDate}}</dd>
					</dl>
				</div>
			</div>
    	</uib-tab>
    	<uib-tab index="2" heading="Progress">
			<div id="vertical-timeline" class="vertical-container dcc-timeline">
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon yellow-bg">
                    </div>

                    <div class="vertical-timeline-content">
                        <h2>Task input split</h2>
                        <p>xxxxxxxxx</p>
                        <span class="vertical-date"><small>5 minutes ago</small></span>
                    </div>
                </div>

                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon lazur-bg">
                    </div>

                    <div class="vertical-timeline-content">
                        <h2>Build Task Environment</h2>
                        <p>xxxxxxxxxxxxxxxxxxxxxxx</p>
                        <span class="vertical-date"><small>5 minutes ago</small></span>
                    </div>
                </div>
            </div>

    	</uib-tab>
		<uib-tab index="3" heading="Files">
			<div ng-controller="JobDetailFileController">
				<h3>Work Directory</h3>
				<angular-filemanager options="options"></angular-filemanager>
			</div>
		</uib-tab>    	
  	</uib-tabset>
</div>
