<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/style.min.css">
	<link rel="stylesheet" href="css/app.min.css">
</head>
<body class="fixed-sidebar mini-navbar">
	<div class="sidebar">
		<div class="sidebar-inner" id="side-menu">
			<div class="brand-top">
				<div class="brand">
                    <a href="">
					<img src="images/logo.png" alt="">
                    <h3>APT-MESOS</h3></a>
				</div>			
			</div>
			<div class="navbar">
                <a class="navbar-minimalize"><span class="navbar-minimalize-inner"><span class="si-menu"></span></span></a>
				<ul class="nav">
					<li><a href=""><span class="si-cloud"></span><span class="nav-label">Dashboard</span></a></li>
					<li><a href="tasks.html"><span class="si-browser"></span><span class="nav-label">Tasks</span></a></li>
					<li class="active"><a href="cluster.html"><span class="si-server"></span><span class="nav-label">Cluster</span></a></li>
				</ul>
			</div>	
		</div>
	</div>
	<div class="main-wrapper" id="main-wrapper">
		<div class="header">
			<!-- <h3 class="tab-title">Task Manager | </h3> -->
		</div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="page-title">
            <h3 class="page-title-text">Master <span>(1)</span></h3>
        </div>
        <div class="row cluster master">
            <div class="col-md-4">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>node1</h5>
                        <span class="pull-right"><i class="fa fa-circle text-navy"></i>192.168.33.11</span>
                    </div>
                    <div class="ibox-content">
                        <div class="row ibox-bottom">
                            <div class="col-xs-4 gauge-chart">
                                <input type="text" value="50" class="dial m-r" data-fgcolor="#1AB394" data-width="85" data-height="85" data-readOnly=true data-displayInput=false data-thickness=".2">
                                <div class="gauge-content"><span>CPU</span><br><span>50%</span></div>
                            </div>
                            <div class="col-xs-4 gauge-chart">
                                <input type="text" value="25" class="dial m-r" data-fgcolor="#1AB394" data-width="85" data-height="85" data-readOnly=true data-displayInput=false data-thickness=".2">
                                <div class="gauge-content"><span>Memory</span><br><span>25%</span></div>
                            </div>    
                            <div class="col-xs-4 gauge-chart">
                                <input type="text" value="25" class="dial m-r" data-fgcolor="#1AB394" data-width="85" data-height="85" data-readOnly=true data-displayInput=false data-thickness=".2">
                                <div class="gauge-content"><span>Disk</span><br><span>25%</span></div>
                            </div>                                                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-title">
            <h3 class="page-title-text">Slaves <span>(3)</span></h3>
        </div>
        <div class="row cluster slaves">
            <div class="col-md-4">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>node1</h5>
                        <span class="pull-right"><i class="fa fa-circle text-navy"></i>192.168.33.11</span>
                    </div>
                    <div class="ibox-content">
                        <div class="row ibox-middle">
                            <div class="col-xs-4">
                                <div class="caption">Containers</div>
                                <div class="text-success stat">10</div>
                            </div>
                            <div class="col-xs-4">
                                <div class="caption">Finished Tasks</div>
                                <div class="text-navy stat">10</div>
                            </div>
                            <div class="col-xs-4">
                                <div class="caption">Failed Tasks</div>
                                <div class="text-danger stat">10</div>                                
                            </div>
                        </div>
                        <div class="row ibox-bottom">
                            <div class="col-xs-4 gauge-chart">
                                <input type="text" value="50" class="dial m-r" data-fgcolor="#1AB394" data-width="85" data-height="85" data-readOnly=true data-displayInput=false data-thickness=".2">
                                <div class="gauge-content"><span>CPU</span><br><span>50%</span></div>
                            </div>
                            <div class="col-xs-4 gauge-chart">
                                <input type="text" value="25" class="dial m-r" data-fgcolor="#1AB394" data-width="85" data-height="85" data-readOnly=true data-displayInput=false data-thickness=".2">
                                <div class="gauge-content"><span>Memory</span><br><span>25%</span></div>
                            </div>    
                            <div class="col-xs-4 gauge-chart">
                                <input type="text" value="25" class="dial m-r" data-fgcolor="#1AB394" data-width="85" data-height="85" data-readOnly=true data-displayInput=false data-thickness=".2">
                                <div class="gauge-content"><span>Disk</span><br><span>25%</span></div>
                            </div>                                                       
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>node1</h5>
                        <span class="pull-right"><i class="fa fa-circle text-navy"></i>192.168.33.11</span>
                    </div>
                    <div class="ibox-content">
                        <div class="row ibox-middle">
                            <div class="col-xs-4">
                                <div class="caption">Containers</div>
                                <div class="text-success stat">10</div>
                            </div>
                            <div class="col-xs-4">
                                <div class="caption">Finished Tasks</div>
                                <div class="text-navy stat">10</div>
                            </div>
                            <div class="col-xs-4">
                                <div class="caption">Failed Tasks</div>
                                <div class="text-danger stat">10</div>                                
                            </div>
                        </div>
                        <div class="row ibox-bottom">
                            <div class="col-xs-4 gauge-chart">
                                <input type="text" value="50" class="dial m-r" data-fgcolor="#1AB394" data-width="85" data-height="85" data-readOnly=true data-displayInput=false data-thickness=".2">
                                <div class="gauge-content"><span>CPU</span><br><span>50%</span></div>
                            </div>
                            <div class="col-xs-4 gauge-chart">
                                <input type="text" value="25" class="dial m-r" data-fgcolor="#1AB394" data-width="85" data-height="85" data-readOnly=true data-displayInput=false data-thickness=".2">
                                <div class="gauge-content"><span>Memory</span><br><span>25%</span></div>
                            </div>    
                            <div class="col-xs-4 gauge-chart">
                                <input type="text" value="25" class="dial m-r" data-fgcolor="#1AB394" data-width="85" data-height="85" data-readOnly=true data-displayInput=false data-thickness=".2">
                                <div class="gauge-content"><span>Disk</span><br><span>25%</span></div>
                            </div>                                                       
                        </div>
                    </div>
                </div>
            </div>  
            <div class="col-md-4">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>node1</h5>
                        <span class="pull-right"><i class="fa fa-circle text-navy"></i>192.168.33.11</span>
                    </div>
                    <div class="ibox-content">
                        <div class="row ibox-middle">
                            <div class="col-xs-4">
                                <div class="caption">Containers</div>
                                <div class="text-success stat">10</div>
                            </div>
                            <div class="col-xs-4">
                                <div class="caption">Finished Tasks</div>
                                <div class="text-navy stat">10</div>
                            </div>
                            <div class="col-xs-4">
                                <div class="caption">Failed Tasks</div>
                                <div class="text-danger stat">10</div>                                
                            </div>
                        </div>
                        <div class="row ibox-bottom">
                            <div class="col-xs-4 gauge-chart">
                                <input type="text" value="50" class="dial m-r" data-fgcolor="#1AB394" data-width="85" data-height="85" data-readOnly=true data-displayInput=false data-thickness=".2">
                                <div class="gauge-content"><span>CPU</span><br><span>50%</span></div>
                            </div>
                            <div class="col-xs-4 gauge-chart">
                                <input type="text" value="25" class="dial m-r" data-fgcolor="#1AB394" data-width="85" data-height="85" data-readOnly=true data-displayInput=false data-thickness=".2">
                                <div class="gauge-content"><span>Memory</span><br><span>25%</span></div>
                            </div>    
                            <div class="col-xs-4 gauge-chart">
                                <input type="text" value="25" class="dial m-r" data-fgcolor="#1AB394" data-width="85" data-height="85" data-readOnly=true data-displayInput=false data-thickness=".2">
                                <div class="gauge-content"><span>Disk</span><br><span>25%</span></div>
                            </div>                                                       
                        </div>
                    </div>
                </div>
            </div>                      
        </div>
    </div>		
</div>
<script src="//cdn.bootcss.com/jquery/2.1.4/jquery.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="js/main.min.js"></script>
<script>
    $(document).ready(function(){
        $(".i-checks").iCheck({
            checkboxClass: "icheckbox_square-green",
            radioClass: "iradio_square-green"
        })
        $(".dial").knob();
    });

</script>
</body>
</html>